
table {
	border-spacing: 0;
	padding: 0;
}
table th, table td {
	padding: 10px;
}

table th {
	background-color: #E3FDFD;
	color: #A6E3E9;
}

table td {
	border-bottom: 1px solid #71C9CE;
}

input[type='text'] {
	border: 1px solid #71C9CE;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 15px;
	background-color: #d5d5d5;
	cursor: pointer;
	border-radius: 15px;
	width: 65px;
}

.btn.add {
	margin-bottom: 10px;
}
